In [ ]:
#01
#Write Python program to figure out smallest number in a user given list
l1=[]
number =int (input("No.of elements to list:"))
for i in range(1,number+1):
  element=int (input("enter the elements:"))
  l1.append(element)
print("smallest number in list", min(l1))

No.of elements to list:6
enter the elements:10
enter the elements:15
enter the elements:7
enter the elements:21
enter the elements:16
enter the elements:15
smallest number in list 7

In [ ]:
#02
#Write python funtion to convert a list into dictionary
def convert_to_dict(lst1):
  iterator=iter(lst1)
  dictionary= dict(zip(iterator, iterator))
  return dictionary

lst1= ['Emp_name', 'xyz', 'Emp_id', 123]
print(convert_to_dict(lst1))

{'Emp_name': 'xyz', 'Emp_id': 123}

In [ ]:
#03
#Write python program to convert dictionary to tuples list

dict1= {'Emp_name': 'xyz', 'Emp_id':123}

list2= [(k,v) for k,v in dict1.items()]
print(list2)

[('Emp_name', 'xyz'), ('Emp_id', 123)]

In [ ]:
#04
#Write python funtion to convert decimal number to binary

# decimal value 
decimal = 37
def dec_to_bin(number):
  if number>1:
    dec_to_bin(number // 2)
  print(number % 2) 

# Calling function 
dec_to_bin(decimal)

1
0
0
1
0
1

In [ ]:
#05
#Write a Python funtion to find the repeated words in a sentence

string= "A Python programmer sometimes codes in Python but also sometimes codes in C++"
def repeated_words(str):
  str= str.split()
  string1= []
  for i in str:              
  
        # filtering out repeated words  
        if i not in string1: 
        # append value in empty list 
            string1.append(i)
            #print(string1)
  for i in range(0, len(string1)): 
    print(string1[i], 'is repeated:', str.count(string1[i]), 'times') 

repeated_words(string)

A is repeated: 1 times
Python is repeated: 2 times
programmer is repeated: 1 times
sometimes is repeated: 2 times
codes is repeated: 2 times
in is repeated: 2 times
but is repeated: 1 times
also is repeated: 1 times
C++ is repeated: 1 times

In [ ]:
#06
#Write a python program to replace the word in the given string
string ="Bugatti 16.4 Veyron is the fastest car in the world"
print(string)
print(string.replace("Bugatti 16.4 Veyron", "Venom F5", 1)+(" currently"))

Bugatti 16.4 Veyron is the fastest car in the world
Venom F5 is the fastest car in the world currently

In [ ]:
#07
#Write python program to check string palindrome
str1= "kayak"
if str1==str1[::-1]:
  print("string is palindrome")
else:
  print("not palindrome")

string is palindrome

In [2]:
#08
#Write a python function to count the number of vowels in string
vowels = "aeiou"
str= "Python programming"

def vowel_count(str, vowels):
  count={}.fromkeys(vowels, 0)
  for character in str:
    if character in count:
      count[character]+=1
  return count
print(vowel_count(str, vowels))

{'a': 1, 'e': 0, 'i': 1, 'o': 2, 'u': 0}

In [10]:
#09
#Write python program to find the word with maximum vowels

lis1=["car", "python", "loop", "rangefinder"]
output= ""
max_length=0

for words in lis1:
  vowel_length=len([ele for ele in words if ele in['a','e','i','o','u']])
  if vowel_length>max_length:
    max_lenght=vowel_length
    output=words
print("word with max vowels", output)

word with max vowels rangefinder

In [19]:
#10
#write python funtion to find the longest string in the list

def longest_word(word_list):
    length = []
    for words in word_list:
        length.append((len(words), words))
    length.sort()
    return length[-1][0], length[-1][1]
result = longest_word(["car", "Truck", "World", "Galaxy", "Universe"])
print("Longest word: ",result[1])
print("longest word length: ",result[0])

Longest word:  Universe
longest word length:  8

In [26]:
#11
#Write a python program to create a nested dictionary and delete the key
dict = {1:'pointer', 2:'pointing to', 3:{1:'another pointer', 2:'is complicated'}}
print(dict)
delete= dict.pop(3)
print("\nupdated dictionary", dict)
print("removed key", delete)

{1: 'pointer', 2: 'pointing to', 3: {1: 'another pointer', 2: 'is complicated'}}

updated dictionary {1: 'pointer', 2: 'pointing to'}
removed key {1: 'another pointer', 2: 'is complicated'}

In [11]:
#12
#Write a python program to check if two dictionaries are matching or not
dict1= {'emp_name':'abc', 'emp_id':123, 'ph_number': 1234567, 'address': 'wxyz'}
dict2= {'emp_name':'xyz', 'emp_id':456, 'ph_number': 3456789, 'address': 'wxyz'}

key_compare=['emp_name','emp_id', 'ph_number', 'address']
for key in key_compare:
  if dict1.get(key)== dict2.get(key):
    print(key)
    result=True
  else:
    print(key)
    result=False
    
print("Same dictionaries", result)

emp_name
emp_id
ph_number
address
Same dictionaries True

In [16]:
#13
#Write a python program to merge dictionaries with duplicate keys
ls1=[{'emp_name':'abc', 'emp_id':123, 'ph_number': 1234567, 'address': 'wxyz'}]
ls2=[{'emp_name':'xyz', 'emp_id':456, 'ph_number': 3456789, 'fax_no':12345}]
print("list1", ls1, "\nlist2", ls2)

for items in range(0, len(ls1)):
  key_id=list(ls1[items].keys())
  for key in ls2[items]:
    if key not in key_id:
      ls1[items][key]= ls2[items][key]
print("\nmerdged dict", ls1)

list1 [{'emp_name': 'abc', 'emp_id': 123, 'ph_number': 1234567, 'address': 'wxyz'}]
list2 [{'emp_name': 'xyz', 'emp_id': 456, 'ph_number': 3456789, 'fax_no': 12345}]

merdged dict [{'emp_name': 'abc', 'emp_id': 123, 'ph_number': 1234567, 'address': 'wxyz', 'fax_no': 12345}]

In [23]:
#14
#Write a python funtion to sort dictionaries by keys or values
def dictsort():
  dict1={}
  dict1[6]=22
  dict1[2]=14
  dict1[1]=58
  dict1[3]=39
  dict1[4]=88
  dict1[5]=69
  
  for i in sorted(dict1.values()):
    print("Values", i)

dictsort()

Values 14
Values 22
Values 39
Values 58
Values 69
Values 88

In [4]:
#15
#Write a python program to sort dictionary by using date

from datetime import datetime
list1= [{'emp_name': 'abc', 'hire_date':'12-20-2020'}, 
        {'emp_name': 'xyz', 'hire_date':'8-10-2020'},
        {'emp_name': 'mno', 'hire_date':'12-06-2020'},
        {'emp_name': 'jkl', 'hire_date':'12-04-2020'}]
print("\nlist1",list1)

list1.sort(key = lambda x: datetime.strptime(x['hire_date'], '%m-%d-%Y'))
print('\nres', list1)

list1 [{'emp_name': 'abc', 'hire_date': '12-20-2020'}, {'emp_name': 'xyz', 'hire_date': '8-10-2020'}, {'emp_name': 'mno', 'hire_date': '12-06-2020'}, {'emp_name': 'jkl', 'hire_date': '12-04-2020'}]

res [{'emp_name': 'xyz', 'hire_date': '8-10-2020'}, {'emp_name': 'jkl', 'hire_date': '12-04-2020'}, {'emp_name': 'mno', 'hire_date': '12-06-2020'}, {'emp_name': 'abc', 'hire_date': '12-20-2020'}]

In [6]:
#16
#Write python program to filter odd number in list
list1= [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]
print(list1)

list2= list(filter(lambda x:(x%2!=0), list1))
print("\nodd numbers", list2)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]

odd numbers [15, 25, 35, 45, 55, 65]

In [8]:
#17
#Write a python program to change the case of letters in string

string_list= ["audi", "alfa romeo", "buick", "koeingsegg", "mclaren", "ds"]
upper_case= list(map(lambda string_list: str.upper(string_list), string_list))
print(upper_case)

['AUDI', 'ALFA ROMEO', 'BUICK', 'KOEINGSEGG', 'MCLAREN', 'DS']

In [13]:
#18
#Write a python program to calculate the sum of elements in list using lambda function

list1= [10, 15, 17, 21, 27, 38, 47, 59, 73, 89, 96]

from functools import reduce
s=reduce((lambda x, y: x+y), list1)
print(s)

492

In [15]:
#19
#write a python program to find cube of a number using lambda functions

cube = lambda x:x*x*x
print(cube(9))

729

In [17]:
#20
#write a python program to calculate fibonacci numbers using lambda functions

from functools import reduce
fibonacci= lambda n: reduce(lambda x, _:x+[x[-1]+x[-2]],range(n-2), [0, 1])
print(fibonacci(12))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [10]:
#21
#Wtite a python program to arranage +ve and -ve integers using lambda function
def arrange(num):
  return[i for i in num if i<0] + [i for i in num if i>=0]

list1= [-4, 10, 6, -8, 9, 1, -6, 0, -2, -10, 3]
print(arrange(list1))

[-4, -8, -6, -2, -10, 10, 6, 9, 1, 0, 3]

In [13]:
#22
#Write a python program to count +ve and -ve integers in list
list2 = [-4, 10, 6, -8, 9, 1, -6, 0, -2, -10, 3] 
  
positive_count, negative_count = 0, 0
  
for num in list2: 

    if num >= 0: 
        positive_count += 1
    else: 
        negative_count += 1
          
print("Positive numbers in the list: ", positive_count) 
print("Negative numbers in the list: ", negative_count)

Positive numbers in the list:  6
Negative numbers in the list:  5

In [15]:
#23
#Write a python program to find duplicate numbers in list
list1= [20,10, 4, 8, 9, 10, 17, 20, 30, 9, 8]

def repeated_numbers(x):
  size = len(x) 
  repeated = [] 
  for i in range(size): 
    k = i + 1
    for j in range(k, size):
      if x[i] == x[j] and x[i] not in repeated: 
        repeated.append(x[i]) 
  return repeated 

print(repeated_numbers(list1))

[20, 10, 8, 9]

In [17]:
#24
#Write python funtion to find largest, second largest, smallest, second smallest numbers in list

def num_length(list1): 
    length = len(lst1) 
    lst1.sort() 
    print("Largest element is:", lst1[length-1]) 
    print("Second Largest element is:", lst1[length-2]) 
    print("Smallest element is:", lst1[0])
    print("Second Smallest element is:", lst1[1]) 
  
# Driver Code 
lst1=[-4, 10, 6, -8, 9, 1, -6, 0, -2, -10, 3] 
Largest = num_length(lst1)

Largest element is: 10
Second Largest element is: 9
Smallest element is: -10
Second Smallest element is: -8

In [22]:
#25
#Write python program to find the second element of tuple by using first element
list1= [(1,2), (3, 4), (7,8), (9,10)]
n=7
first_element= [y for (x,y) in list1 if x==n]
print("Seciond element of tuple", first_element)

Seciond element of tuple [8]

In [28]:
#26
#Write a python to convert tuples to tuple pair
from itertools import product 
  
tuple1 = ('a', 'b', 'c', 'd') 

tuple1 = iter(tuple1) 
pair = list(product(next(tuple1), tuple1)) 
  
print("paired tuples", (pair))

paired tuples [('a', 'b'), ('a', 'c'), ('a', 'd')]

In [40]:
#27
#Write a python program to convert string to list of tuples
str1= "(key, value), (key, value)"

output=[]
temp=[]

for elements in str1.split(", "): 
    id = str(elements.replace("(", "").replace(")", "")) 
    temp.append(id) 
    if ")" in elements: 
       output.append(tuple(temp)) 
       temp = [] 
print("Tuple list", output)

Tuple list [('key', 'value'), ('key', 'value')]

In [43]:
#28
#Write python funtion to multiply the list of tuples
def mul(num):  
    output = 1 
    for element in num:  
        output *= element 
    return output
list1 = [[(1, 2), (3, 3), (5, 5)], [(3, 6), (7, 9), (10, 12)]]
print("list", list1)

output = [tuple(mul(i) for i in zip(*j)) for j in zip(*list1)] 
print("\nMultiplication", output)

list [[(1, 2), (3, 3), (5, 5)], [(3, 6), (7, 9), (10, 12)]]

Multiplication [(3, 12), (21, 27), (50, 60)]

In [49]:
#29
#write python program to join list elements with characters

list1= ['10', '15', '35', '6', '48']
character= "_"
character= character.join((list1))
print(character)

10_15_35_6_48

In [57]:
#30
#Write python funtion to join cycle in list

def cycle(list1, num, stop = None): 
    temp = dict(list1) 
    stop = stop if stop is not None else num 
    while True: 
        yield (num) 
        num = temp.get(num, stop) 
        if num == stop: break

list1= [[7,2], [2, 3], [3, 7]]
print("cycle elements")
for element in cycle(list1, 3):
  print(element)

cycle elements
3
7
2